.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradle.properties
job-events-consistency-check/src/main/resources/cacerts

### Generated ###
*Dockerfile
*entrypoint.sh
*newrelic.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

logs/
out/
target/

.DS_Store
cacerts.jks

.openapi-generator-ignore
.openapi-generator/

.idea/
*.iml
*.iws
*.ipr

### GCS ###
.security-metadata.yaml

### CheckStyle ###
config/checkstyle/*